<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.orbit.orbit">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- - SendBird Stuff -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required for my tablet to work -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".messaging.main.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/orbit_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name" />
        <activity android:name=".activities.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddTeacherActivity"
            android:label="@string/title_add_Teacher"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CreateStudentActivity"
            android:label="@string/title_create_student"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BaseActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AllTeachersActivity"
            android:label="@string/title_activity_all_teachers"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ViewCoursesTeacherActivity"
            android:label="@string/menu_view_courses"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.FindStudentActivity"
            android:label="@string/title_activity_find_student"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ChooseStudentActivity"
            android:label="@string/choose_student"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EnrollStudentInCourseActivity"
            android:label="@string/choose_student"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ChooseCourseActivity"
            android:label="@string/choose_course"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ViewCourseActivity"
            android:label="@string/view_course"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ViewCourseAssignmentsActivity"
            android:label="View Course Assignments"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CreateAssignmentActivity"
            android:label="Create Assignment"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ViewAssignmentGradesActivity"
            android:label="View Single Assignment"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.ReportABugActivity"
            android:label="@string/report_a_bug"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CourseGradesActivity"
            android:label="@string/menu_my_grades"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ChooseStudentSaveActivity"
            android:label="Save Chosen Student"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ViewAssignmentGradesStudentActivity"
            android:label="Grade Details"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CreateCourseActivity"
            android:label="Create Course"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ConductActivity"
            android:label="View Conduct"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ViewMyConductActivity"
            android:label="My Conduct"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ViewMyConductCourseActivity"
            android:label="My Daily Conduct"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"/>

        <!-- Send Bird Activities -->

        <activity
            android:name=".messaging.main.MainActivity"
            android:label="@string/title_message_center"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".messaging.main.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".messaging.main.BlockedMembersListActivity"
            android:label="@string/blocked_members_list"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".messaging.utils.PhotoViewerActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".messaging.utils.MediaPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".messaging.groupchannel.GroupChannelActivity"
            android:label="@string/create_open_channel"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".messaging.groupchannel.InviteMemberActivity"
            android:label="@string/invite_member"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".messaging.groupchannel.MemberListActivity"
            android:label="@string/member_list"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".messaging.groupchannel.MemberInfoActivity"
            android:label="@string/member_info"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".messaging.groupchannel.CreateGroupChannelActivity"
            android:label="@string/create_group_channel"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--
    -

    Notifications for Messages
        -->

        <service android:name=".messaging.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".messaging.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>